{#
 * Copyright 2017 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}
{% extends base_layout %}

{% block lengow_header %}
    {% include '@Modules/lengow/views/templates/admin/twig/header.html.twig' %}
{% endblock %}

{% block lengow_content %}
<div class="cms-global">
    <div class="lgw-container" id="lengow_mainsettings_wrapper">
        {% if debugMode %}
            <div id="lgw-debug" class="adminlengowmainsetting {% if multiShop %}multi-shop{% endif %}">
                {{ locale.t('menu.debug_active') }}
            </div>
        {% endif %}
        <form class="lengow_form" method="POST">
            <input type="hidden" name="action" value="process">
            <div class="lgw-box">
                <h2>{{ locale.t('global_setting.screen.notification_alert_title') }}</h2>
                {{ mail_report|raw }}
            </div>
            <div class="lgw-box">
                <h2>{{ locale.t('global_setting.screen.default_export_carrier_title') }}</h2>
                <p>{{ locale.t('global_setting.screen.default_export_carrier_description') }}</p>
                {{ defaultExportCarrier|raw }}
            </div>
            <div class="lgw-box">
                <h2>{{ locale.t('global_setting.screen.security_title') }}</h2>
                <p>{{ locale.t('global_setting.screen.security_description') }}</p>
                {{ ipSecurity|raw }}
            </div>
            <div class="lgw-box">
                <h2>{{ locale.t('global_setting.screen.shop_title') }}</h2>
                <p>{{ locale.t('global_setting.screen.shop_description') }}</p>
                {{ shopCatalog|raw }}
            </div>
            <div class="lgw-box">
                <h2>{{ locale.t('global_setting.screen.debug_mode_title') }}</h2>
                <p>{{ locale.t('global_setting.screen.debug_mode_description') }}</p>
                {{ debug_report|raw }}
                <div id="lengow_wrapper_debug" style="display:none;">
                    {{ debug_wrapper|raw }}
                </div>
            </div>
            <div class="lgw-box">
                <h2>{{ locale.t('global_setting.screen.log_file_title') }}</h2>
                <p>{{ locale.t('global_setting.screen.log_file_description')|raw }}</p>
                <select id="select_log" class="lengow_select">
                    <option value="" disabled selected hidden>
                        {{ locale.t('global_setting.screen.please_choose_log') }}
                    </option>
                    {% for file in list_file %}
                        <option value="{{ lengow_link.getAbsoluteAdminLink('AdminLengowMainSetting') }}&action=download&date={{ file['date'] }}">
                        {{ file['date']|date('l j F Y') }}</option>
                    {% endfor %}
                    <option value="{{ lengow_link.getAbsoluteAdminLink('AdminLengowMainSetting') }}&action=download_all" >
                        {{ locale.t('global_setting.screen.download_all_files') }}
                    </option>
                </select>
                <button type="button" id="download_log" class="lgw-btn lgw-btn-white">
                    <i class="fa fa-download"></i> {{ locale.t('global_setting.screen.button_download_file') }}
                </button>
            </div>
            <div class="form-group container">
                <div class="lengow_main_setting_block_content">
                    <div class="pull-left">
                        <button type="submit" class="lgw-btn lgw-btn-progression lengow_submit_main_setting">
                            <div class="btn-inner">
                                <div class="btn-step default">
                                    {{ locale.t('global_setting.screen.button_save') }}
                                </div>
                                <div class="btn-step loading">
                                    {{ locale.t('global_setting.screen.setting_saving') }}
                                </div>
                                <div class="btn-step done" data-success="Saved!" data-error="Error">
                                    {{ locale.t('global_setting.screen.setting_saved') }}
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="lgw-modal-delete">
                        <button type="button" data-toggle="modal" data-target="#openDeleteModal"
                                class="lgw-btn lgw-btn-red lengow_delete_module" name="delete_module">
                            {{ locale.t('global_setting.screen.button_i_want_uninstall') }}
                        </button>
                        </a>
                        <div class="lgw-modal">
                            <a href="#" class="modal-close js-close-this-modal"></a>
                            <div class="lgw-modal-inner">
                                <div class="scrollable no-margin">
                                    <div class="scrollable-in">
                                        <div class="lgw-content-section text-center">
                                            <img src="{{ lengowPathUri }}views/img/laser-gun.png">
                                            <h2><span>{{ locale.t('global_setting.screen.title_modal_uninstall') }}</span></h2>
                                            <p>
                                                {{ locale.t('global_setting.screen.all_data_will_be_lost') }}<br/><br/>
                                                {{ locale.t('global_setting.screen.you_will_find_a_backup') }}
                                                <a href="{{ lengow_link.getAbsoluteAdminLink('AdminBackup') }}">
                                                    {{ locale.t('global_setting.screen.prestashop_backup') }}
                                                </a>
                                            </p>
                                        </div>
                                        <div id="lengow_wrapper_delete">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ locale.t('global_setting.screen.to_uninstall_type') }}
                                                    : {{ locale.t('global_setting.screen.i_am_sure') }}
                                                </label>
                                                <input type="text" name="uninstall_textbox" class="form-control js-confirm-delete" placeholder="" value="" data-confirm="{{ locale.t('global_setting.screen.i_am_sure') }}" autocomplete="off">
                                                <button type="submit" class="lgw-btn lgw-btn-progression lgw-btn-disabled lengow_submit_delete_module">
                                                    <div class="btn-inner">
                                                        <div class="btn-step default">
                                                            {{ locale.t('global_setting.screen.button_i_want_uninstall') }}
                                                        </div>
                                                        <div class="btn-step loading">
                                                            {{ locale.t('global_setting.screen.plugin_deleting') }}
                                                        </div>
                                                        <div class="btn-step done" data-success="Saved!" data-error="Error">
                                                            {{ locale.t('global_setting.screen.plugin_deleted') }}
                                                        </div>
                                                    </div>
                                                </button>
                                                <button type="button" class="btn-link js-close-this-modal">
                                                    {{ locale.t('global_setting.screen.cancel_i_want_uninstall') }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="{{ lengowPathUri }}views/js/lengow/main_setting.js"></script>
{% endblock %}

{% block lengow_footer %}
    {% include '@Modules/lengow/views/templates/admin/twig/footer.html.twig' %}
{% endblock %}
