{#
 * Copyright 2017 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}
<li>
    <div class="lgw-row">
        <span class="matching-subtitle">
            {{ locale.t('order_setting.screen.matching_carrier_marketplace') }}
        </span>
    </div>
</li>
{% for idCarrier, carrier in carriers %}
    <li>
        <div class="lgw-row">
            <div class="lgw-col-5 text-right carrier-name">
                {{ carrier['name'] }}
            </div>
            <div class="lgw-col-1">
                <div class="lgw-arrow-right"></div>
            </div>
            <div class="lgw-col-6">
                <select name="carrier_marketplaces[{{ marketplace['id'] }}][{{ idCarrier }}]"
                        class="carrier js-match-carrier lengow_select js-carrier-{{ marketplace['id'] }}"
                        data-marketplace="{{ marketplace['id'] }}">
                    <option value="">{{ locale.t('order_setting.screen.please_select_carrier_marketplace', {'marketplace_name': marketplace['label']}) }}</option>
                    {% for marketplaceCarrier in marketplace['carriers'] %}
                        {% if marketplace['carrier_matched'] is defined and marketplace['carrier_matched'][idCarrier] is defined and marketplace['carrier_matched'][idCarrier] == marketplaceCarrier['id_carrier_marketplace'] %}
                            <option value="{{ marketplaceCarrier['id_carrier_marketplace'] }}" selected="selected">{{ marketplaceCarrier['carrier_marketplace_label'] }}</option>
                        {% else %}
                            <option value="{{ marketplaceCarrier['id_carrier_marketplace'] }}">{{ marketplaceCarrier['carrier_marketplace_label'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </li>
{% endfor %}
