{#
 * Copyright 2021 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}
<div id="lengow_home_wrapper" class="cms-global">
    <div class="lgw-container">
        <div class="lgw-box">
            <div class="lgw-row">
                <div class="lgw-col-6 display-inline-block">
                    <h2 class="text-center">{{ locale.t('status.screen.title_end_free_trial') }}</h2>
                    <h3 class="text-center">{{ locale.t('status.screen.subtitle_end_free_trial') }}</h3>
                    <p class="text-center">{{ locale.t('status.screen.first_description_end_free_trial') }}</p>
                    <p class="text-center">{{ locale.t('status.screen.second_description_end_free_trial') }}</p>
                    <p class="text-center">{{ locale.t('status.screen.third_description_end_free_trial')|raw }}</p>
                    <div class="text-center">
                        <a href="https://my.{{ lengowUrl }}" class="lgw-btn" target="_blank">
                            {{ locale.t('status.screen.upgrade_account_button') }}
                        </a>
                    </div>
                    <div class="text-center">
                        <a href="{{ refresh_status }}"
                           class="lgw-box-link">
                            {{ locale.t('status.screen.refresh_action') }}
                        </a>
                    </div>
                </div>
                <div class="lgw-col-6">
                    <div class="vertical-center">
                        <img src="{{ lengowPathUri }}views/img/logo-blue.png" class="center-block" alt="lengow"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
