{#
 * Copyright 2017 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}

<script type="text/javascript">$(document.body).addClass('lengow_body');</script>

<!-- PLUGINS -->
<link rel="stylesheet" type="text/css" href="{{ lengowPathUri }}views/css/bootstrap-datepicker.css">
<link rel="stylesheet" type="text/css" href="{{ lengowPathUri }}views/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="{{ lengowPathUri }}views/css/select2.css">
<!-- STYLE LENGOW -->
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Open+Sans:700,600,800,400,300" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ lengowPathUri }}views/css/lengow-layout.css">
<link rel="stylesheet" type="text/css" href="{{ lengowPathUri }}views/css/lengow-components.css">
<link rel="stylesheet" type="text/css" href="{{ lengowPathUri }}views/css/lengow-pages.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

{% if displayToolbar %}
<div class="lgw-container">
    <ul class="nav nav-pills lengow-nav lengow-nav-top">
        <li role="presentation" id="lengow_logo">
            <a href="{{ lengow_link.getAbsoluteAdminLink('AdminLengowDashboard') }}">
                <img src="{{ lengowPathUri }}views/img/lengow-white.png" alt="lengow">
            </a>
        </li>
        <li role="presentation" class="{{ current_controller == 'LengowFeedController' ? 'active' : '' }}"><a href="{{ lengow_link.getAbsoluteAdminLink('AdminLengowFeed') }}">
                {{ locale.t('menu.product') }}
            </a>
        </li>
        {% set OrderTab = ['LengowOrderController', 'LengowOrderSettingController'] %}
        <li role="presentation" class="{{ current_controller in OrderTab ? 'active' : '' }}">
            <a href="{{ lengow_link.getAbsoluteAdminLink('AdminLengowOrder') }}" class="lengow_order_link">
                {{ locale.t('menu.order') }}
                {% if total_pending_order is defined and total_pending_order > 0 %}
                    <span class="lengow-nav-notif">{{ total_pending_order }}</span>
                {% endif %}
            </a>
        </li>
        <li class="lengow_float_right {{ current_controller == 'LengowMainSettingController' ? 'active' : '' }}" id="menugotosetting">
            <a href="{{ lengow_link.getAbsoluteAdminLink('AdminLengowMainSetting') }}"
                class="lengow_link_tooltip"
                data-placement="bottom"
                data-original-title="{{ locale.t('menu.global_parameter') }}">
                <i class="fa fa-cog fa-2x"></i>
            </a>
        </li>
        <li class="lengow_float_right  {{ current_controller == 'LengowHelpController' ? 'active' : '' }}" id="menugotohelp">
            <a href="{{ lengow_link.getAbsoluteAdminLink('AdminLengowHelp') }}"
                class="lengow_link_tooltip"
                data-placement="bottom"
                data-original-title="{{ locale.t('menu.help') }}">
                <i class="fa fa-life-ring fa-2x"></i>
            </a>
        </li>
        <li class="lengow_float_right" id="menugotosolution">
            <a href="https://my.{{ lengowUrl }}" target="_blank">
                {{ locale.t('menu.jump_to_lengow') }}
            </a>
        </li>
        {% if merchantStatus and merchantStatus['type'] == 'free_trial' and not merchantStatus['expired'] %}
            <li class="lengow_float_right" id="menucountertrial">
                <div class="lgw-block">
                    {{ locale.t('menu.counter', {'counter': merchantStatus['day']}) }}
                    <a href="https://my.{{ lengowUrl }}" target="_blank">
                        {{ locale.t('menu.upgrade_account') }}
                    </a>
                </div>
            </li>
        {% endif %}
        {% if not pluginIsUpToDate %}
            <li class="lengow_float_right" id="menupluginavailable">
                <div class="lgw-block">
                    {{ locale.t('menu.new_version_available', {'version': pluginData['version']}) }}
                    <button class="btn-link mod-inline js-upgrade-plugin-modal-open">
                        {{ locale.t('menu.download_plugin') }}
                    </button>
                </div>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
<script type="text/javascript" src="{{ lengowPathUri }}views/js/jquery.1.12.0.min.js"></script>
<script type="text/javascript">
    var lengow_jquery = $.noConflict(true);
</script>
<script type="text/javascript" src="{{ lengowPathUri }}views/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ lengowPathUri }}views/js/lengow/admin.js"></script>
<script type="text/javascript" src="{{ lengowPathUri }}views/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ lengowPathUri }}views/js/clipboard.js"></script>
<script type="text/javascript" src="{{ lengowPathUri }}views/js/select2.js"></script>
