{#
 * Copyright 2021 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}
<div class="lgw-content-section">
    <h2>{{ locale.t('connection.catalog.failed_title') }}</h2>
</div>
<div class="lgw-module-illu mod-disconnected">
    <img src="{{ lengowPathUri }}views/img/connected-prestashop.png"
         class="lgw-module-illu-module mod-disconnected"
         alt="prestashop">
    <img src="{{ lengowPathUri }}views/img/connected-lengow.png"
         class="lgw-module-illu-lengow mod-disconnected"
         alt="lengow">
    <img src="{{ lengowPathUri }}views/img/unplugged.png"
         class="lgw-module-illu-plug mod-disconnected"
         alt="unplugged">
</div>
<div class="lgw-content-section">
    <p>{{ locale.t('connection.catalog.failed_description_first') }}</p>
    <p>{{ locale.t('connection.catalog.failed_description_second') }}</p>
    <p>
        {{ locale.t('connection.cms.failed_help') }}
        <a href="{{ helpCenterLink }}" target="_blank">
            {{ locale.t('connection.cms.failed_help_center') }}
        </a>
        {{ locale.t('connection.cms.failed_help_or') }}
        <a href="{{ supportLink }}" target="_blank">
            {{ locale.t('connection.cms.failed_help_customer_success_team') }}
        </a>
    </p>
</div>
<div>
    <button class="lgw-btn lgw-btn-green js-go-to-catalog" data-retry="true">
        {{ locale.t('connection.cms.failed_button') }}
    </button>
    <a href="{{ lengow_link.getAbsoluteAdminLink('AdminLengowDashboard') }}"
       class="lgw-btn lgw-btn-green">
        {{ locale.t('connection.cms.success_button') }}
    </a>
</div>
