{#
 * Copyright 2021 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}
<div id="lgw-connection-cms">
    <div class="lgw-content-section">
        <h2>{{ locale.t('connection.cms.credentials_title') }}</h2>
    </div>
    <div class="lgw-content-input">
        <input type="text"
               name="lgwAccessToken"
               class="js-credentials-input"
               placeholder="{{ locale.t('connection.cms.credentials_placeholder_access_token') }}">
        <input type="text"
               name="lgwSecret"
               class="js-credentials-input"
               placeholder="{{ locale.t('connection.cms.credentials_placeholder_secret') }}">
    </div>
    <div class="lgw-content-section">
        <p>{{ locale.t('connection.cms.credentials_description') }}</p>
        <p>
            {{ locale.t('connection.cms.credentials_help') }}
            <a href="{{ helpCenterLink }}" target="_blank">
                {{ locale.t('connection.cms.credentials_help_center') }}
            </a>
        </p>
    </div>
    <div>
        <button class="lgw-btn lgw-btn-progression lgw-btn-disabled js-connect-cms">
            <div class="btn-inner">
                <div class="btn-step default">
                    {{ locale.t('connection.cms.credentials_button') }}
                </div>
                <div class="btn-step loading">
                    {{ locale.t('connection.cms.credentials_button_loading') }}
                </div>
            </div>
        </button>
    </div>
</div>
